[submodule "astropy_helpers"]
	path = astropy_helpers
	url = https://github.com/astropy/astropy-helpers.git
[submodule "paper-helpers"]
	path = paper-helpers
	url = git@github.com:adrn/paper-helpers.git
